
*{
  font-family: "source-han-serif-tc",serif;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
}

body{
  /*overflow: hidden;*/
  color: rgba(50, 55, 60, 1);
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
 }

img {
  border:none;
}

#person{
  position: relative;
  z-index: -1;
  background-size: cover;
  bottom: auto;
  height: 49.375vh;
  min-height: 100%;
}

p{
  font-weight: 400;
  font-size: 1.2em;
  line-height: 5.5vh;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
  width: 25vw;
}

#p_text{
  font-size: 0.8em;
  line-height: 1.5vh;
  margin-bottom: 1vh;
}

#p_style{
  font-size: 1.3em;
  line-height: 2.5vh;
  color: rgba(50, 50, 50, 1);
}


.html{
  /* font-family:'Noto Serif CJK TC', 'Noto Serif CJK', 'Source Han Serif TC', 'Source Han Serif', source-han-serif-sc, serif; */
  font-weight: 400;
  letter-spacing: 0.1em;
}

.clear_both{
    clear: both;
}

font{   /*最新消息內文樣式*/
  /* font-family: 'Noto Serif CJK TC', 'Noto Serif CJK', 'Source Han Serif TC', 'Source Han Serif', source-han-serif-sc, serif; */
  font-weight: 400;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

/** adjust font size **/

@media screen and (max-width: 1023px){
    body{ font-size: 75%; }
}
@media screen and (min-width: 1024px) and (max-width: 1087px){
    body{ font-size: 80%; }
}
@media screen and (min-width: 1088px) and (max-width: 1151px){
    body{ font-size: 85%; }
}
@media screen and (min-width: 1152px) and (max-width: 1215px){
    body{ font-size: 90%; }
}
@media screen and (min-width: 1216px) and (max-width: 1279px){
    body{ font-size: 95%; }
}
@media screen and (min-width: 1280px) and (max-width: 1343px){
    body{ font-size: 100%; }
}
@media screen and (min-width: 1344px) and (max-width: 1407px){
    body{ font-size: 105%; }
}
@media screen and (min-width: 1408px) and (max-width: 1471px){
    body{ font-size: 110%; }
}
@media screen and (min-width: 1472px) and (max-width: 1535px){
    body{ font-size: 115%; }
}
@media screen and (min-width: 1536px) and (max-width: 1599px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 1600px) and (max-width: 2000px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 2001px) and (max-width: 4000px){
    body{ font-size: 180%; }
}
@media screen and (min-width: 4001px) {
    body{ font-size: 280%; }
}



.content{
  position: absolute;
  height: 25vh;
  width: 42vw;
  margin-top: 67vh;
  margin-left: 55vw;
  margin-right: 3vw;
  margin-bottom: 8vh;
  z-index: 9999;
}

.content_left{
  float: left;
  width: 2vw;
  height: 25vh;
  background-color: rgba(255,230,160,0.8);
}

.content_right{
  float: right;
  width: 40vw;
  height: 25vh;
  background-color: rgba(60,0,110,0.8);
}

.textbox1{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.textbox2{
  width: 25vw;
  margin-left: 2vw;
  margin-top: 2vh;
}

.textbox1 p{
  font-weight: 400;
  font-size: 1em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
  margin-bottom:1vh;
}

/*
.button{
  margin-top: -5vh;
  margin-right: 2vw;
}
*/




.button_style1{  /*繼續閱讀*/
  margin-top: -5vh;
  margin-right: 2vw;
  float: right;
  border-radius: 3px;
  text-decoration-line: none;
  text-align: justify;
  padding: 10px 10px;
  border: 1px solid rgba(255,255,255,1);
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.25vh;
  letter-spacing: 0.35em;
  color: rgba(255, 255, 255, 1);
}

.button_style1:hover{
  background-color: rgba(255, 255, 255, 1);
  color:rgba(0,0,0,1);
}

.bigimage{
  height: 100vh;
  width: 100vw;
}

/* newest post */

.post-content{
  width: 100vw;
}

.new_post{
  float: left;
  width: 48.828125vw;
  height: 52vh;
  margin-top: -5.25vh;
  margin-bottom: 1.25vh;
  /*background-color: rgba(230,230,230,1);*/
  background-color: rgba(0,0,0,0);
}

.post_right{
  float: right;
  width: 48.828125vw;
  height: 75vh;
  margin-top: 1.25vh;
  margin-left: 0.390625vw;
  margin-right: 0.390625vw;
  margin-bottom: 1.25vh;
}

.newtext{  /*最新消息*/
  width: 38.5vw;
  height: 2.5vh;
  margin-top: 4vh;
  margin-left: 2vw;
  margin-bottom: 2.5vh;
}

/*更多消息*/

.button_style2{
  float: right;
  padding: 0px 10px;
  margin-top: -2.5vh;
  margin-right: -6.5vw;
  border-radius: 3px;
  border: 1px solid rgba(100, 100, 100, 1);
  text-decoration-line: none;
  text-align: justify;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 2.5vh;
  letter-spacing: 0.35em;
  color: rgba(100, 100, 100, 1);
}

.button_style2:hover{
  background-color: rgba(0, 0, 0, 1);
  color:rgba(255, 255, 255, 255);
  border-color: rgba(0, 0, 0, 1);
}

.news_block{   /*最新消息的內文框框*/
  margin-top: 3vh;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 44.828125vw;
  height: 63vh;
}

.news_block_content{
  height: 6vh;
  width: 44.828125vw;
  margin-bottom: 2vh;
}

.news_block_content p{ /*最新消息文章內文樣式*/
  width: 39vw;
  font-size: 1em;
  line-height: 2.4vh;
  color: rgba(50, 50, 50, 1);
  margin-left: 6.125vw;
  margin-top: -4vh;
  display: inline-block;
  vertical-align: top;
  padding-left: 0.625vw;
}

.date{
  float: left;
  width: 4.5vw;
  padding-right: 0.625vw;
  border-right-style: solid;
  border-right-color: #000;
  border-right-width: 1px;
}

.vertical_line{
  margin-left: 6.125vw;
  height:4vh;
}

.video-container {
  height: 52vh;
  width: 48.8vw;
  position: relative;
  /*padding-bottom: 56.25%;*/
  padding-bottom: 48.8vh;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 100%;
}

.left_block{
  width: 24.24875vw;
  height: 75vh;
  z-index: 9999;
  margin-top: -75vh;
  background-color: rgba(60, 0, 110, 0.8);
  position: relative;
  z-index: 0;
/*
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 4s;
  */
}

.left_block_animation{
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
  animation-name: example;
  animation-duration: 4s;
  position: relative;
  /*
  transition: height 0.7s ease-in-out 0s;
  -webkit-transition: height 0.7s ease-in-out 0s;
  */
}

.left_block_text_animation{
  -webkit-animation-name: text-animate;
  -webkit-animation-duration: 4s;
  animation-name: text-animate;
  animation-duration: 4s;
  /*
  transition: opacity 0.7s ease-in-out 0s;
  -webkit-transition: opacity 0.7s ease-in-out 0s;
  */
}


@-webkit-keyframes example {
    0%   {background-color: rgba(60, 0, 110, 0.8); height:0; top: 75vh;}
    100% {background-color: rgba(60, 0, 110, 0.8); top: 0vh;}
}

/* Standard syntax */

@keyframes example {
  0%   {background-color: rgba(60, 0, 110, 0.8); height:0; top: 75vh;}
  100% {background-color: rgba(60, 0, 110, 0.8); top: 0vh;}
}

@-webkit-keyframes text-animate {
    0%   {opacity:0}
    100% {opacity:1}
}

/* Standard syntax */

@keyframes text-animate {
  0%   {opacity:0}
  100% {opacity:1}
}



.left_block_text{
  width: 20.5vw;
  height: 8.125vh;
  padding-top: 61vh;
  margin-left: 2.3vw;
  margin-bottom: 2.75vh;
  position: absolute;
  z-index: 9999;
}

.left_block_text p{
  transition: opacity 0.7s ease-in-out 0s;
   -moz-transition: opacity 0.7s ease-in-out 0s;
   -webkit-transition: opacity 0.7s ease-in-out 0s;
}

.right_top_block{
  float: right;
  width: 23.828125vw;
  height: 24.375vh;
  position: relative;
  margin-left: 0.78vw;
  margin-bottom: 1.25vh;
  background-color: rgba(255, 230, 160, 0.8);
}

.right_top_block a{
  text-decoration: none;
}

.right_top_block div {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: round 20s linear infinite;
            animation: round 20s linear infinite;
}

/*
一個完整的週期是20秒。
@keyframe的時間是以百分比來表示
把秒換成百分比
100% / 20秒 = 5% ( 每秒)
5% = 1秒
*/

@-webkit-keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

@keyframes round {
    5% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    25% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}

.right_top_block div:nth-child(4) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.right_top_block div:nth-child(3) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.right_top_block div:nth-child(2) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.right_top_block div:nth-child(1) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.right_top_block:hover div {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

.right_top_block p{
  margin-top: 3.75vh;
  margin-left: 8vw;
  margin-bottom: 6vh;
  padding-left: 11px;
  color: rgba(50,50,50,1);
  line-height: 2.5vh;
  width: 11vw;
  font-size: 0.8em;
}

.right_block_text{
  width:6vw;
  height: 7.5vh;
  margin-top: 12.75vh;
}

.right_block_text p{
  color: rgba(50,50,50,1);
  line-height: 3vh;
}

.right_block_image{
  height: 49.375vh;
  width: 48.8vw;
}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/*mobile css*/
@media screen and (max-width: 1024px) {
  .post-content{
    background-image: url(../images/mobile/homepage-01.jpg);
    background-size:cover;
    height:100vh;
    width: 100vw;
    z-index:9999;
  }

  .new_post{
    background-image: url(../images/mobile/background.jpg);
    background-size: cover;
    margin-left: 0;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0;
    margin-top: 100vh;
  }

  .dropbtn{
    background-image: url(../images/mobile/btn/menu-button.svg);
  }

  .year_date{
    display: inline-block;
  }

  .newtext{
    margin-top: 11vh;
    width: auto;
  }

  #p_style{
    width: 17vw;
    margin-left: 5vw;
    margin-right: 2vw;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: rgba(20, 20, 20, 1);
    display: inline-block;
    float: left;
  }

  .bottom_line{
    border-top: solid 1px;
    border-bottom: solid 1px;
    height: 2px;
    width: 47vw;
    display: inline-block;
    margin-top: 7px;
    margin-right: 2vw;
  }

  .button_style2{
    float: none;
    width: 11.5vw;
    height: 2.5vh;
    border-radius: 1.5vh;
    border-color: rgba(80, 80, 80, 1);
    font-weight: 300;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    color: rgba(80, 80, 80, 1);
    margin-top: -2.5px;
    text-align: center;
    margin-right: 0;
    padding: 1px 7px;
  }

  #hr{display: none;}

  .news_block{
    margin-left: 6vw;
    width: auto;
  }

  .news_block_content{
    width: 80vw;
  }

  .purple_block{
    width: 8px;
    height: 8px;
    float: left;
    margin-right: 2.5vw;
    /*display: inline-block;*/
    background-color: rgba(60, 0, 110, 0.7);
  }

  .date{
    width: 21vw;
    border: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-top: -6px;
  }

  .news_block_content p{
    margin-top: 0.5vh;
    width: 80vw;
    margin-left: 2.5vw;
    height: 5vh;
    /* 多行限制 */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }

  

}
