/*招生樣式表*/


*{
  font-family: "source-han-serif-tc",serif;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
}

body{
  /*overflow: hidden;*/
  color: rgba(50, 50, 50, 1);
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
 }

img {
  border:none;
}

/*社文所特色樣式*/

.feature-title{
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2.75vh;
  letter-spacing: 0.1em;
  margin-bottom: 1.5vh;
}

#features{
  font-weight: 300;
  font-size: 1.15em;
  line-height: 4.25vh;
  letter-spacing: 0.1em;
  margin-bottom: 2vh;
  color:rgba(50,50,50,1);
  /*margin-left: 2vw;*/
}

.features li{
  font-weight: 300;
  font-size: 1.15em;
  line-height: 2.25vh;
  letter-spacing: 0.1em;
  margin-bottom: 2vh;
  color:rgba(50,50,50,1);
  margin-left: 2vw;
}

.feature-content{
  font-weight: 400;
  font-size: 1em;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  color: rgba(50,50,50,1);
  width: 71.5vw;
}

.video-title{
  font-weight: 300;
  font-size: 1.25em;
  line-height: 2.25vh;
  letter-spacing: 0.1em;
  margin-bottom: 2vh;
}

/* 碩士班招生樣式 */

.master-title{
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2.75vh;
  letter-spacing: 0.1em;
  margin-bottom: 1vh;
}

.master-num{
  font-weight: 300;
  font-size: 1.25em;
  line-height: 2.25vh;
  letter-spacing: 0.1em;
  margin-bottom: 1vh;
}

.master-extra{
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.5vh;
  letter-spacing: 0.1em;
}

.interview-num,
.test-num{
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  padding-top: 5.5vh;
  margin-bottom: 1.5vh;
}

.interview-register-date,
.interview-way,
.test-date,
.test-register-date{
  font-weight: 300;
  font-size: 0.9em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  margin-bottom: 1vh;
}

/* 博士班招生樣式 */
.d-content{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  width: 34vw;
  margin-bottom: 2vh;
}

.btn {
  word-break: keep-all;
  white-space: pre-line;
  float: right;
  display:block;
  height: 5vw;
  width: 5.5vw;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,1);
}

.btn-content{
  text-align: center;
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
}

/* 僑生港澳生 */
.overseas-text{
  padding-left: 2.5vw;
  padding-top: 2.5vh;
  z-index: 9999;
  background-color: rgba(40,0,55,0.8);
  height: 29.375vh;
  margin-top: -32vh;
  position: relative;
}

.overseas-title{
  font-weight: 600;
  font-size: 1.5em;
  line-height: 3vh;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
}

.overseas-subtitle{
  margin-top: 1.25vh;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.75vh;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
}

.overseas-content{
  width: 63.5vw;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
}

/* 陸生招生樣式 */
.chinese-title{
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2.75vh;
  margin-bottom: 1vh;
  letter-spacing: 0.1em;
}

.chinese-class{
  font-weight: 300;
  font-size: 1.25em;
  line-height: 2.25vh;
  margin-bottom: 1vh;
  letter-spacing: 0.1em;
}

.chinese-extra{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.5vh;
  letter-spacing: 0.1em;
}

.chinese-reg{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.5vh;
  letter-spacing: 0.1em;
}

.chi-features,
.chi-content{
  margin-bottom: 1.25vh;
  /*height: 1.5vh;*/
  font-weight: 300;
  font-size: 0.8em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50,50,50,1);
}

/*.chi-features li,
.chi-content p{
  margin-bottom: 1.25vh;
  height: 1.5vh;
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.5vh;
  letter-spacing: 0.1em;
  color: rgba(50,50,50,1);
}*/

/* 外籍生招生樣式 */
.foreign_block{
  width: 63.5vw;
  padding-left: 2.5vw;
  padding-top: 2.5vh;
  margin-top: 4vh;
  padding: 1vh 2.5vw;
  /* border-bottom: #000 solid 1px; */
}

#foreign_style{
  vertical-align: -webkit-baseline-middle;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1.8em;
  color: rgba(50, 50, 50, 1);
  display: inline-block;
}

/* 國際交流學術合作樣式 */

#co-title{
  font-weight: 300;
  font-size: 1.25em;
  line-height: 2.25vh;
  letter-spacing: 0.1em;
  text-align: center;
  display: inline-block;
}

.co-detail{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.8em;
  padding-left: 1vw;
  padding-bottom: 1.5vh;
  display: inline-block;
  vertical-align: top;
  white-space: pre-line;
}

#school-name{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.8em;
  padding-left: 1vw;
  padding-bottom: 1.5vh;
  display: inline-block;
  vertical-align: top;
  /* word-break: keep-all; */
  white-space: pre-line;
}


.co-detail ol{
  margin-left: 2vw;
}

.co-detail li{
  color: rgba(50,50,50,1);
  list-style-type: simp-chinese-informal;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.8em;
  margin-bottom: 0.65vh;
  letter-spacing: 0em;
  height: 3em;
}

.co-detail p{
  font-weight: 300;
}

/* 活動相簿樣式 */

.a-single{
  width:21vw;
  display: inline-block;
  float: left;
  /* margin-top: 2vh; */
  margin-bottom: 4vh;
}

#a1{
  padding-top: 4px;
  font-weight: 500;
  font-size: 0.9em;
  /* line-height: 2em; */
  letter-spacing: 0.05em;
  height:5.5vh;
  word-break: keep-all;

}

#a2{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 2vh;
  letter-spacing: 0.1em;

}

#a3{
  font-weight: 300;
  font-size: 0.8em;
  line-height: 1.5vh;
  letter-spacing: 0.05em;

}

/* 修業規章樣式 */

.btn-rules{
  text-align: center;
  width: 7vw;
  height: 7vw;;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  float:left;
  margin-top: 6vh;
}

.compulsory, .required, .elective, .remarks{
  display: inline-block;
  margin-right:1.5vw;
  margin-top: 5vh;
  float: left;
}


.compulsory p,
.required p,
.elective p,
.remarks p{
  font-weight: 300;
  font-size: 0.9em;
  line-height: 2.75vh;
  vertical-align:text-top;
  letter-spacing: 0.1em;
  margin-bottom: 1vh;
  padding-top: 0.5vh;
}

.list-block{
  width: 19.75vw;
  margin-right: 1.5vw;
  display: inline-block;
  vertical-align: top;
}

.rule-master-list ul,
.rule-doctor-list ul{
  list-style: none;
}

.rule-master-list li,
.rule-doctor-list li{
  text-indent: -.7em;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.75vh;
  letter-spacing: 0.1em;
  color: rgba(50,50,50,1);
      margin-left: 1vw;
}

.rule-master-list li::before{
  content: "● ";
  color: rgba(105,200,255,1); /* or whatever color you prefer */
}

.rule-doctor-list li::before{
  content: "● ";
  color: rgba(180,5,0,1); /* or whatever color you prefer */
}

/* 畢業論文樣式 */

.thesis-name{
  font-weight: 400;
  font-size: 1em;
  line-height: 2.75vh;
  vertical-align:text-top;
  letter-spacing: 0.05em;
  width:14vw;
  /* margin-right: 1vw; */
  display: inline-block;
  white-space: pre-line;
}

.thesis-title{
  width:48vw;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6em;
  vertical-align:text-top;
  letter-spacing: 0.05em;
  /* margin-right: 1vw; */
  display: inline-block;
  white-space: pre-line;
}

.thesis-professor{
  width:7.825vw;
  font-weight: 400;
  font-size: 1em;
  line-height: 2.75vh;
  vertical-align:text-top;
  letter-spacing: 0.05em;
  display: inline-block;
  float: right;
  text-align: right;
  white-space: pre-line;
}

/* 碩博士論文得獎樣式 */

.name{
  font-weight: 400;
  font-size: 1em;
  line-height: 2.75vh;
  vertical-align:text-top;
  letter-spacing: 0.05em;
  width:4.5vw;
  display: inline-block;
  margin-right: 1vw;
  float: left;
  margin-bottom: 1vh;
}

.award{
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2.75vh;
  vertical-align:text-top;
  letter-spacing: 0.05em;
  display: inline-block;
  white-space: pre-line;
  margin-bottom: 1vh;
}

/* 實習／見習／交換紀錄樣式 */

#intership-title{
  font-weight: 300;
  font-size: 1em;
  line-height: 1.75vh;
  letter-spacing: 0.1em;
  display: inline-block;
}

.intership-detail{
  font-weight: 400;
  font-size: 0.9em;
  line-height: 2.75vh;
  vertical-align:text-top;
  letter-spacing: 0.05em;
  display: inline-block;
  white-space: pre-line;
}

/*活動相簿內頁詳細頁*/
#album-title{
  font-weight: 500;
  font-size: 1.2em;
  line-height: 2.4em;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
}

/* 活動相簿內頁詳細頁樣式 */

.album-text{
  width:23.4vw;
  height: 15.6vw;
  /* padding-left: 1.25vw; */
  border:rgba(50, 50, 50, 1) solid 1px;
  margin-right: 0.8vw;
  margin-bottom: 1.25vh;
  /* float: left; */
  display: inline-block;
  overflow:hidden;
  position: relative;
}

.album-area {
  width:23.4vw;
  height: 15.6vw;
  margin-right: 0.8vw;
  margin-bottom: 1.25vh;
  display: inline-block;
  overflow:hidden;
  position: relative;
}

.album-area img{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  min-width: 100%;
  min-height: 100%;
  transform:translate(-50%,-50%);
}

.btn_left_lightgrey{
  background-image: url(../images/btn/btn_left_lightgrey.svg);
  width: 42px;
  height: 42px;
  float: left;
  display: inline-block;
  background-size: cover;
  margin-right: 2.5vw;
}

.btn_close_lightgrey{
  background-image: url(../images/btn/btn_close_lightgrey.svg);

}

.btn_right_lightgrey{
  background-image: url(../images/btn/btn_right_lightgrey.svg);
}




/** adjust font size **/

@media screen and (max-width: 1023px){
    body{ font-size: 75%; }
}
@media screen and (min-width: 1024px) and (max-width: 1087px){
    body{ font-size: 80%; }
}
@media screen and (min-width: 1088px) and (max-width: 1151px){
    body{ font-size: 85%; }
}
@media screen and (min-width: 1152px) and (max-width: 1215px){
    body{ font-size: 90%; }
}
@media screen and (min-width: 1216px) and (max-width: 1279px){
    body{ font-size: 95%; }
}
@media screen and (min-width: 1280px) and (max-width: 1343px){
    body{ font-size: 100%; }
}
@media screen and (min-width: 1344px) and (max-width: 1407px){
    body{ font-size: 105%; }
}
@media screen and (min-width: 1408px) and (max-width: 1471px){
    body{ font-size: 110%; }
}
@media screen and (min-width: 1472px) and (max-width: 1535px){
    body{ font-size: 115%; }
}
@media screen and (min-width: 1536px) and (max-width: 1599px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 1600px) and (max-width: 2000px){
    body{ font-size: 120%; }
}
@media screen and (min-width: 2001px) and (max-width: 4000px){
    body{ font-size: 180%; }
}
@media screen and (min-width: 4001px) {
    body{ font-size: 280%; }
}




@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
