
.html{
  font-family: "source-han-serif-tc",serif;
  height: 100%;
  font-weight: 400;
}

li{        /* 24 */
  height:2vh;
  margin-bottom: 1.5vh;
  font-weight: 400;
  font-size: 1em;
  line-height: 4vh;
  /*letter-spacing: 0.1em;*/
  color: rgba(255, 255, 255, 1);
}

ol.v{
  list-style-type: none;
  height:2vh;
  margin-bottom: 1.5vh;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 2vh;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 1);
}

*{
  font-weight: 400;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
}

body{
  overflow-x: hidden;
  overflow-y: auto;
  color: rgba(225, 225, 225, 1);
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
 }

/* for homepage slider img*/
img {
  border:none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: auto;
  
}





/* for img resize depend on screen size*/

.circle_block img{
  max-width: 100%;  
  max-height: 100%;
  width: 100%;
  height: auto;
}

.video embed,
.video object,
.video iframe {
  width: 100%;
  height: auto;
}

.icons{
  width: 36px;
  height: 36px;
  opacity: 0.3;
  margin-right: 10px;
  margin-bottom: 1.5vh;
  display: inline-block;
  background-size: cover;
}

.icons a:hover{
  opacity: 0.8;
}

.icons_facebook{
  background-image: url(../images/btn/icon_fb_30opacity.svg);
}

.icons_instagram{
  background-image: url(../images/btn/icon_ig_30opacity.svg);
}

.icons_twitter{
  background-image: url(../images/btn/icon_twitter_30opacity.svg);
}

.icons_youtube{
  background-image: url(../images/btn/icon_youtube_30opacity.svg);
}

.icons_blogger{
  background-image: url(../images/btn/icon_blogger_30opacity.svg);
  margin-bottom: 0;
}

.icons_gallery{
  background-image: url(../images/btn/icon_gallery_30opacity.svg);
  margin-bottom: 0;
}


.clear_both{
    clear: both;
}

/** adjust font size **/

@media screen and (max-width: 1023px){
    body{ font-size: 75%; }
}
@media screen and (min-width: 1024px) and (max-width: 1087px){
    body{ font-size: 80%; }
}
@media screen and (min-width: 1088px) and (max-width: 1151px){
    body{ font-size: 85%; }
}
@media screen and (min-width: 1152px) and (max-width: 1215px){
    body{ font-size: 90%; }
}
@media screen and (min-width: 1216px) and (max-width: 1279px){
    body{ font-size: 95%; }
}
@media screen and (min-width: 1280px) and (max-width: 1343px){
    body{ font-size: 90%; }
}
@media screen and (min-width: 1344px) and (max-width: 1407px){
    /*body{ font-size: 105%; }*/
    body{ font-size: 90%; }
}
@media screen and (min-width: 1408px) and (max-width: 1471px){
    body{ font-size: 100%; }
}
@media screen and (min-width: 1472px) and (max-width: 1535px){
    body{ font-size: 100%; }
}
@media screen and (min-width: 1536px) and (max-width: 1599px){
    body{ font-size: 100%; }
}
@media screen and (min-width: 1600px) and (max-width: 2000px){
    /*body{ font-size: 120%; }*/
    body{ font-size: 110%; }
}
@media screen and (min-width: 2001px) and (max-width: 4000px){
    body{ font-size: 115%; }
}
@media screen and (min-width: 4001px) {
    body{ font-size: 280%; }
}

/* header  */

.header{
  position: absolute;
  float: left;
  height: 25vh;
  width: 100vw;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10000;
}

.header_left{
  float: left;
  background-color: rgba(60,0,110,1);
  height: 25vh;
  width: 24vw;
}

.header_left a{
  display: block;
  text-decoration: none;
}

.header_right{
  float: right;
  background-color: rgba(255,230,160,1);
  height: 25vh;
  width: 76vw;
}

.text_1 {     /*1*/
  font-weight: 500;
  font-size: 1.5em;
  line-height: 3.25vh;
  color: rgba(255, 255, 255, 1);
  /*height:3.25vh;*/
  margin-bottom:1vh;
}

.text_2 {     /*2*/
  font-weight: 500;
  font-size: 1.55em;
  line-height: 4vh;
  color: rgba(255, 255, 255, 1);
  /*height:4vh;*/
  margin-bottom:3.5vh;
}

.text_3 {     /*3*/
  font-size: 0.85em;
  line-height: 2.5vh;
  color: rgba(255, 255, 255, 1);
  width: 20vw;
  white-space: pre-line;
  /* height: 2vh; */
  font-weight: 400;
  letter-spacing: 0.05em;
}

/* Top navigation  */
.nav {
  /*overflow: hidden;*/
  margin-top: 12.5vh;
  text-align: -webkit-center;
  margin-right: 2.8125vw;
  float: right;
  letter-spacing: 0.1em;
}

/* Dropdown Button */
.dropbtn {
    /*background-color: #4CAF50;*/
    color: rgba(50,50,50,1);
    padding: 16px;
    font-size: 1.2em;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(50,50,50,0.8);
    min-width: 8vw;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {/*background-color: #ddd;*/}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {/*background-color: #3e8e41;*/}

/*.nav a {   
  font-size: 1.2em;
  line-height: 4vh;
  letter-spacing: 0.1em;
  color: rgba(50, 50, 50, 1);
  width: 6vw;
  margin-left: 0.75vw;
  margin-right: 0.75vw;
  text-decoration:none;
}*/

/* navigation bar effect */

.nav ul {
  list-style: none;
  padding: 0;
  font-size: 0.8em;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 4vh;
  text-align: center;
  font-weight:500;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  /*text-align:justify;*/
  font-weight:400;
  /*transition: .3s ;*/
}

.nav a:hover {
  
}

.nav a.active {
/*   background-color: #aaa; */
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {
  font-size: .8em;
}

.nav li li a{
  background-color: rgba(50,50,50,0.8);
  color: #fff;
  width: 7.5vw;
  text-align: center;
  line-height: 3.5vh;
  height: auto;
  font-size: 1em;
  font-weight: 300;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  .nav li {
    width: 6vw;
    border-bottom: none;
    line-height: 4vh;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
    margin-left: 0.75vw;
    margin-right: 0.75vw;
    line-height: 4vh;
    height: auto;
    width: auto;
    font-size: 1.7em;
  }

  .nav > ul > li > a {
    padding-left: 0;
    font-size: 0.8em;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
}



#link-as{
  border-bottom-style: solid;
  border-width: 1px;
}

/*測試php get div功能*/
#poster-title{
  margin-left: 2vw;
  margin-bottom: 2.5vh;
  width: 36vw;
  height: 3.5vh;
  font-size: 1.3em;
  line-height: 3vh;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 0px;
}

#banner_title{
  margin-left:2vw;
  width:36vw;
  margin-bottom:2.5vh;
  font-size: 1.5em;
  line-height: 3vh;
}


/*.nav_active{
  border-bottom-style: solid;
  border-width: 1px;
}*/

.nav .icon {
  display: none;
}

/* footer*/
.footer{
  height: 22.5vh;
  width: 100vw;
  position: inherit;
  bottom: 0;
}

.footer_left{
  float: left;
  height: 25.5vh;
  width: 99%;
  background-color: rgba(60, 0, 110, 0.8);
}

.footer_right{
  float: right;
  height: 25.5vh;
  width: 1%;
  background-color: rgba(255, 230, 160, 0.8);
}

.footer_margin{
  width:96.4375vw;
  height:19.25vh;
  margin-top:3.25vh;
  margin-left:2.78125vw;
}

.footer_text1{
  float: left;
  width: 20.5vw;
  display: inline-block;
}

.footer_text2{
  width: 23vw;
  margin-left: -1%;
  display: inline-block;
}

.footer_text3{
  /* float: right; */
  display: inline-block;
  left: 100%;
  vertical-align: top;
  width: auto;
  margin-right: 5vw;
}

/* side bar*/
.sidebarmenu{
  width: 24vw;
  height: 67.75vh;
  margin-top: 32.25vh;
}

.a_show{
  /*width: 22.65vw;*/
  height: 2.5vh;
  padding-left: 1.5625vw;
  margin-bottom: 2.75vh;
  border-left: 0.78125vw rgba(255, 255, 255, 0) solid;
  display: block;
  text-decoration-line: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50,50, 50, 1);
}

/* .sidebarmenu a{
  height: 2.5vh;
  padding-left: 1.5625vw;
  margin-bottom: 2.75vh;
  border-left: 0.78125vw rgba(255, 255, 255, 0) solid;
  display: block;
  text-decoration-line: none;
  font-weight: 600;
  font-size: 1em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50,50, 50, 1);
} */


.sidebarmenu a:hover{
  /*height: 2.5vh;*/
  border-left: 0.78125vw rgba(60, 0, 110, 0.8) solid;
  text-decoration: none;
  color:#000;
}

.sidebarmenu_active{
  height: 2.5vh;
  padding-left: 1.5625vw;
  margin-bottom: 2.75vh;
  /* border-left: 0.78125vw rgba(255, 255, 255, 0) solid; */
  display: block;
  text-decoration-line: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  line-height: 2.5vh;
  letter-spacing: 0.1em;
  color: rgba(50,50, 50, 1);
  border-left: 0.78125vw rgba(60, 0, 110, 0.8) solid;
}



@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*mobile css*/
@media screen and (max-width: 700px) {
  .header_left,
  .search,
  .flexslider,
  .content,
  #right_post,
  .footer_left,
  .footer_right{
    display: none;
  }

  .header_right{
    background: none;
  }
}